.header{
    background-color: #2A1B3D;
    padding: 10px 0;
}

body{
    margin: 0px;
}

body{
    background: #F0EAD6;
}

.navigationbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2A1B3D;
    height: 150px;
    margin: auto;
}

.links a {
    color: rgb(172, 237, 241);
    text-decoration: none;
    display: flex;
    height: 100px;
    width: 175px;;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.links a:hover{
    background-color: #191024;
}